In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import datetime

# 1. Data Collection

In [5]:
now  = datetime.now()

start = datetime(now.year-10, now.month, now.day)
end = now
ticker = 'AAPL'
df = yf.download(ticker, start, end)
df

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2016-01-13   21.958422   22.815204   21.938130   22.619046  249758400
2016-01-14   22.438667   22.655119   21.586395   22.086936  252680400
2016-01-15   21.899792   22.030564   21.500713   21.690106  319335600
2016-01-19   21.793827   22.242510   21.532282   22.188398  212350800
2016-01-20   21.823145   22.138802   21.063314   21.442102  289337600
...                ...         ...         ...         ...        ...
2026-01-07  260.329987  263.679993  259.809998  263.200012   48309800
2026-01-08  259.040009  259.290009  255.699997  257.019989   50419300
2026-01-09  259.369995  260.209991  256.220001  259.079987   39997000
2026-01-12  260.250000  261.299988  256.799988  259.160004   45207100
2026-01-13  260.730011  261.809998  258.390015  258.720001   16759127

[2515 rows x 5 columns]

In [6]:
df.head

<bound method NDFrame.head of Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2016-01-13   21.958422   22.815204   21.938130   22.619046  249758400
2016-01-14   22.438667   22.655119   21.586395   22.086936  252680400
2016-01-15   21.899792   22.030564   21.500713   21.690106  319335600
2016-01-19   21.793827   22.242510   21.532282   22.188398  212350800
2016-01-20   21.823145   22.138802   21.063314   21.442102  289337600
...                ...         ...         ...         ...        ...
2026-01-07  260.329987  263.679993  259.809998  263.200012   48309800
2026-01-08  259.040009  259.290009  255.699997  257.019989   50419300
2026-01-09  259.369995  260.209991  256.220001  259.079987   39997000
2026-01-12  260.250000  261.299988  256.799988  259.160004   45207100
2026-01-13  260.730011  261.809998  258.390015  258.720001   16759127

[2515 rows x 5 columns]>

In [7]:
df.tail

<bound method NDFrame.tail of Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2016-01-13   21.958422   22.815204   21.938130   22.619046  249758400
2016-01-14   22.438667   22.655119   21.586395   22.086936  252680400
2016-01-15   21.899792   22.030564   21.500713   21.690106  319335600
2016-01-19   21.793827   22.242510   21.532282   22.188398  212350800
2016-01-20   21.823145   22.138802   21.063314   21.442102  289337600
...                ...         ...         ...         ...        ...
2026-01-07  260.329987  263.679993  259.809998  263.200012   48309800
2026-01-08  259.040009  259.290009  255.699997  257.019989   50419300
2026-01-09  259.369995  260.209991  256.220001  259.079987   39997000
2026-01-12  260.250000  261.299988  256.799988  259.160004   45207100
2026-01-13  260.730011  261.809998  258.390015  258.720001   16759127

[2515 rows x 5 columns]>